@charset "UTF-8";

/* password */
.hg-pwcontainer
{
	width:285px;
	margin:auto;
}

.hg-logo
{
	margin:30px auto;
	margin-bottom:0px;
	text-align:center;
}

.hg-pwh1
{
	margin-top:30px;
	letter-spacing:-1px;
	font-size:20px;
	font-weight:bold;
}

#findpassword
{
	margin-top:30px;
	margin-bottom:30px;
}

.hg-pwinfobox
{
	margin-top:30px;
}

.hg-pwinfobox label
{
	font-size:16px;
	font-weight:600;
	letter-spacing:-1px;
}

.hg-pwinfobox input
{
	width:100%;
	height:44px;
	border:1px solid #797979;
	border-radius:4px;
	margin-top:10px;
	padding:13px 15px;
	outline:none;
}

.hg-pwinfobox input::placeholder
{
	color:#BDBDBD;
}

.hg-pwinfobox input:-webkit-autofill { -webkit-box-shadow: 0 0 0 30px #fff inset ; -webkit-text-fill-color: #000; }
.hg-pwinfobox input:-webkit-autofill, .hg-pwinfobox input:-webkit-autofill:hover, .hg-pwinfobox input:-webkit-autofill:focus, .hg-pwinfobox input:-webkit-autofill:active { transition: background-color 5000s ease-in-out 0s; }

.hg-findpwalrt
{
	display:none;
	width:100%;
	margin-top:5px;
	font-size:12px;
	font-weight:600;
	letter-spacing:-1px;
	color:#C30000;
}

.hg-findpwalrt.active
{
	display:inline-block;
}

#findpwbtn
{
	width:100%;
	margin-top:40px;
	padding:10px 0;
	background-color:#ccc;
	border:none;
	border-radius:8px;
	font-size:18px;
	color:#fff;
	cursor:pointer;
	outline:none;
}

#findpwbtn.active
{
	background-color:#4563FF;
}

#findpwbtn.active:hover
{
	background-color:#384DBC;
}

#hg-notfoundId
{
    display: inline-block;
    width: 100%;
	margin: 50px auto;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
}

.hg-pwbtn
{
	width:138px;
	padding:10px 0;
	font-size:15px;
	font-weight:600;
	color:#fff;
	border-radius:8px;
	cursor:pointer;
	border:none;
	outline:none;
}

.hg-pwbtn.hg-wtagain
{
	background-color:#0C174F;
}

.hg-pwbtn.hg-wtagain:hover
{
	background-color:#060E35;
}

.hg-pwbtn.hg-gotoregi
{
	background-color:#4563FF;
}

.hg-pwbtn.hg-gotoregi:hover
{
	background-color:#384DBC;
}

.hg-newpwforyou
{
	margin:50px auto;
	margin-bottom:0;
	text-align:center;
}

.hg-newpwforyou span
{
	display:inline-block;
	width:100%;
	font-size:14px;
	font-weight:600;
	line-height:18px;
}

#hg-newpw
{
	margin:20px auto;
	margin-bottom:50px;
	text-align:center;
	font-size:18px;
	font-weight:bolder;
	color:#0C174F;
}

#hg-gotologin
{
	display:inline-block;
	width:100%;
	padding:10px 0;
	background-color:#4563FF;
	border-radius:8px;
	font-size:18px;
	font-weight:600;
	color:#fff;
	border:none;
	outline:none;
	cursor:pointer;
}
/* password */


/* ID */
.id-container{
	margin: auto;
	width: 285px;
}
.ID-logo{
	margin: 30px auto;
	text-align: center;
}
.id-container h1{
	margin-top:30px;
	letter-spacing:-1px;
	font-size:20px;
	font-weight:bold;
}
#findid{
	margin-top:30px;
	margin-bottom:30px;
}
.mj-namebox{
	margin-top: 30px;
	font-weight: bold;
	margin-bottom: 30px;
}
#mj-name, #mj-birth, #mj-tel{
	width: 100%;
	height: 44px;
	padding-left: 20px;
	margin-top: 10px;
	border: 1px solid #797979;
	border-radius: 4px;
	font-size: 15px;
}
.nameno, .birthno, .telno{
	display: none;
}
.nameno span{
	color: #C30000;
	width:100%;
	margin-top:5px;
	font-size:12px;
	font-weight:600;
	letter-spacing:-1px;
}
.mj-birthbox{
	font-weight: bold;
	margin-bottom: 30px;
}
.birthno span{
	color: #C30000;
	width:100%;
	margin-top:5px;
	font-size:12px;
	font-weight:600;
	letter-spacing:-1px;
}
.mj-telbox{
	font-weight: bold;
	margin-bottom: 40px;
}
.telno span{
	color: #C30000;
	width:100%;
	margin-top:5px;
	font-size:12px;
	font-weight:600;
	letter-spacing:-1px;
}
.findid-btn{
	margin-bottom: 30px;
	width:100%;
	padding:10px 0;
	background-color:#ccc;
	border:none;
	border-radius:8px;
	font-size:18px;
	color:#fff;
	cursor:pointer;
	outline:none;
}
#mj-notfoundId
{
    display: inline-block;
    width: 100%;
	margin: 50px auto;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
}

.mj-pwbtn
{
	width:138px;
	padding:10px 0;
	font-size:15px;
	font-weight:600;
	color:#fff;
	border-radius:8px;
	cursor:pointer;
	border:none;
	outline:none;
}

.mj-pwbtn.mj-wtagain
{
	background-color:#0C174F;
}

.mj-pwbtn.mj-wtagain:hover
{
	background-color:#060E35;
}

.mj-pwbtn.mj-gotoregi
{
	background-color:#4563FF;
}

.mj-pwbtn.mj-gotoregi:hover
{
	background-color:#384DBC;
}

.mj-newpwforyou
{
	margin:50px auto;
	margin-bottom:0;
	text-align:center;
}

.mj-newpwforyou span
{
	display:inline-block;
	width:100%;
	font-size:14px;
	font-weight:600;
	line-height:18px;
}

#mj-newpw
{
	margin:20px auto;
	margin-bottom:50px;
	text-align:center;
	font-size:18px;
	font-weight:bolder;
	color:#0C174F;
}



/* ID */