@charset "UTF-8";
span{
    font-size: 10px;
    color: #ddd;
}
a:hover{
	text-decoration: none;
	color : inherit;
}
.choi-top sapn{
    margin-top: 10px;
}
.choi-info{
    width: 1200px;
    height: 107px;
    background: navy;
    border-radius: 8px;
    color: #ffffff;
    display: flex;
    margin-top : 20px;
    justify-content: space-between;
    padding: 25px 20px;
}
.choi-info span{
    font-size: 15px;
    color: #ccc;
}
.choi-line1 p{
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 13px;
}
.choi-line2{
    color: #fff;
    font-size: 15px;
}
.nav-link{
	border-color: none;
}
.nav-item a{
	font-size : 20px;
	font-weight : bold;
}
.row{
	margin-top : 60px;
}
.nav-item a{
	color : #ddd;
}
.nav-link.active{
	color : #3345A4;
}
.tab-pane{
	width : 1200px;
}
.tab-content>.active {
    display: flex;
}
.tab-content{
	display:flex;
}
.choi-bookbox{
    margin-top: 50px;
}
.choi-tab ul{
    display: flex;
}
.choi-tab ul li:first-child{
    margin-right: 25px;
}
.choi-current-book{
	margin-top : 20px;	
    width: 387px;
    height: 230px;
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
    border : 1px solid #ccc;
    padding : 20px 25px;
    margin-right : 19px;
}
.choi-past-book-big{
	display : inline-flex;
}
.choi-jjim-book-big{
	display : inline-flex;
}
.choi-past-book{
	width : 183px;
	height : 110px;
	border-radius: 8px;
	margin-right : 20px;
	margin-top : 20px;
	background-color : #ddd;
	display : flex;
}
.choi-past-img img{
	width : 54px;
	height : 80px;
	margin-left : 10px;
	margin-top : 16px;
	margin-bottom : 16px;
}
.choi-past-text{
	margin : 20px 10px;
}
.choi-past-text-top p{
	font-size : 13px;
	font-weight : bold;
	margin-bottom : 21px;
	white-space: nowrap;
	overflow: hidden;
}
.choi-past-text-top.active{
	text-overflow: ellipsis;
    word-break: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}
.choi-past-text-bottom span{
	font-size : 12px;
	color : #797979;
	display : block;
}
.choi-book-text>div{
	margin-bottom : 15px;
}
.choi-book-img img{
	width : 130px;
	height : 190px;
	margin-right : 20px;
}
.pageNum{
	margin : 0;
	margin-top : 20px;
	display : flex;
	justify-content : center;
	width : 1200px;
	align-items : center;
}
.choi-dday{
	color : #FF0000;
}
.choi-book-text{
    display: block;
    width : 187px;
    height : 128px;
}
.choi-book-text-top p{
	font-size : 16px;
	font-weight : bold;
	white-space: nowrap;
	overflow: hidden;
 	text-overflow: ellipsis;
}
.choi-book-text-top.active{
	white-space: normal;
	overflow : hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.choi-book-text span{
	margin-top : 5px;
	font-size : 13px;
	color : #797979; 
}
.choi-book-text-mid{
	margin-top : 30px;
}
.choi-book-text-mid span{
	font-size : 14px;
	color : #797979;
}
.choi-book-text-mid p{
	margin-top : 5px;
	color : #c30000;
	font-weight : bold;
}
.choi-book-text-last{
	display : flex;
}
.choi-book-text-last button{
	margin-top : 28px;
	border-radius : 4px;
	width : 90px;
	height : 34px;
	border : none;
	cursor : pointer;
}
.bookloan{
	background-color : #245478;
	color : #fff;
	font-size : 15px;
}
.booklook{
	background-color : #797979;
	color : #fff;
	margin-right : 7px;
}
.choi-dday{
	margin-top : 5px;
	border-radius : 4px;
	color : #fff;
}
.choi-jjim {
	margin-top : 100px;
	margin-bottom : 200px;
	width : 1200px;
	height : 303px;
	
}
.choi-jjim-img-nothing img{
	width : 190px;
	height : 110px;
}
.choi-jjim p{
    font-size: 20px;
    font-weight: bold;
    color: #000;
}
.choi-jjim-innerbook-nothing{
	margin-top : 10px;
}
.choi-jjim-innerbook{
    background-color: #f1f1f1;
    border-radius: 8px;
    display: flex;
    width: 190px;
    height: 110px;
    padding : 10px;
    margin-top : 10px;
    margin-left: 12px;
    margin-bottom: 10px;
}
.choi-jjim-innerbook:first-child{
	margin-left : 0;
}
.choi-jjim-innerbook:nth-child(7){
	margin-left : 0;
}
.choi-jjim-book{
    display: inline-flex;
    flex-wrap: wrap;
}
.choi-jjim-img img{
    width : 54px;
    height : 85px;
    margin-right : 10px;
}
.choi-jjim-text div{
	display : block;
}
.choi-close-btn img{
	float : right;
	width : 8px;
	height : 8px;
	margin-bottom : 8px;
}
.choi-jjim-text-top p{
	font-size : 13px;
	font-weight : bold;
	
}
.choi-jjim-text-bottom{
	margin-top : 9px;
}
.choi-jjim-text-bottom span{
	font-size : 12px;
	display : block;
}
.choi-booklist{
	margin-top : 20px;
}
.deleteBtn{
	border : none;	
	float : right;
	width : 100%;
}
.pageNum-pagebtn{
	border: none;
    background: none
}