@charset "UTF-8";
.search-result::after{
	content: "";
	width: 100%;
	display: block;
	border-bottom: 1px solid #cccccc;
	padding-top : 30px;
}
.result-title{
	display: flex;
	padding-top : 30px;
}
.result-title h3{
	color: #333;
	font-size: 17px;
	font-weight: bold;
}
.result-title p{
	color: #797979;
	padding-left: 20px;
}
.search-img img{
	width: 183px;
	height: 269px;
	box-shadow: 6px 6px 6px 0 rgba(0,0,0,0.2);
}
.search-content{
	display: flex;
	margin-top: 70px;
	justify-content: space-between;
}
.book-information{
	display: flex;
}
.search-context{
	color: #cccccc;
	margin-left: 40px;
	padding: 20px;
}
.search-context h3{
	color: #333;
	font-size: 17px;
	font-weight: bold;
	padding: 5px;
}
.search-context p{
	font-size: 14px;
	font-weight: 400;
	padding: 5px;
}
.search-book-context{
	padding-top: 40px;
	width: 350px;
  	text-overflow: ellipsis;
  	overflow: hidden;
  	word-break: break-word;
  	display: -webkit-box;
	-webkit-line-clamp: 2; 
    -webkit-box-orient: vertical
}
.search-like{
	display: flex;
	margin-left: 110px;
}
.search-like p{
	margin: 7px 5px;
	color: #797979;
}
.detail-btn{
	text-align: center;
	background-color: #797979;
	border: 1px solid #797979;
	border-radius: 5px;
	font-weight: bold;
	font-size: 17px;
	color: #fff;
	padding: 13px;
}
.search-rental-btn{
	background-color: #4563ff;
	border: 1px solid #4563ff;
	border-radius: 5px;
	font-weight: bold;
	color: #fff;
	padding: 12px 55px;
	font-size: 16px;
}
.btn-box{
	margin-left: 30px;
	margin-top: 148px;
	width: 178px;
}
.rental-btn{
	margin-top: 6px;
}